@charset "UTF-8";

:root{
    --cor0:#83E1AD;
    --cor1:#3DDC84;
    --cor2:#2FA866;
    --cor3:#042b156f;
    --cor4:#063d1ec7;
    --cor5:black;
    --cor6:white; 
    
    --fonte-padrao:Arial, Helvetica, sans-serif;
    --fonte-destaque:'Bebas Neue', cursive;
    --fonte-android:'idroid', cursive;
}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@font-face {
    font-family: 'idroid';
    src: url(../fontes/idroid.otf) format('opentype');
    font-weight: normal;
    font-style: normal;
}

body{
    font-family:var(--fonte-padrao);
    background-color:var(--cor0);
    position:relative;
    margin: 0px;
}
header{
    background-image: linear-gradient(to bottom, var(--cor1), var(--cor2), var(--cor4));
    color: var(--cor6);
    min-height: 150px;
    text-align: center;                    
    padding: 1px;

}
#principal{
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    font-style: normal;
    color:var(--cor6);
    text-shadow: 2px 2px 2px var(--cor3);
}
header p{
    font-family: var(--fonte-padrao);
    font-size: 1.2em;
    color: var(--cor6);
    max-width: 500px;
    margin: auto;
    padding-bottom: 20px;
    text-shadow: 2px 2px 2px var(--cor3);
}
nav{
    background-color:var(--cor4);
    padding: 10px;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.429);
}
nav>a{
    font-family: var(--fonte-padrao);
    color:var(--cor0);
    text-decoration: none;
    margin-right: 10px;
    padding: 10px;
    font-weight: bold;
}
nav>a:hover{
    background-color: var(--cor2);
    color: var(--cor5);
    border-radius: 5px;
}

main{
    background-color:var(--cor6);
    padding: 10px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
    min-width:300px;
    max-width: 800px;
    margin: auto;
    box-shadow: 0pc 0px 10px rgba(0, 0, 0, 0.498);
}
main img{
    width: 100%;
}
main img.pequena{
    max-width: 350px;
    display: block;
    margin: auto;
}
main h1{
    font-family:var(--fonte-android);
    color: var(--cor2);
    font-weight: normal;
    font-size: 2em;
}
main h2{
    font-family: var(--fonte-android);
    color: var(--cor2);
    background-image: linear-gradient(to right, #C5EBD6,white);
    font-weight: normal;
    font-size: 1.8em;
}
main p.paragrafo{
    
    text-align: justify;
    text-indent: 25px;
    line-height: 2em;
    padding: 10px;
}
picture{
    margin: auto;

}

div.video{
    background-color: var(--cor4);
    padding: 10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-bottom: 59%;
    position: relative;
}
div.video > iframe{
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

strong, a{
    color: var(--cor2);           
}
.link::after{
    content: '\1F517';
    
}

aside{
    background-color: #C5EBD6;
    border-radius: 10px;
    margin-top: 10px;
}

h3{
    background-color: var(--cor4);
    color: white;
    padding: 10px;
    margin-top: 0px;
    border-radius: 10px 10px 0px 0px;
}

ul{
    list-style-type: '\2714\0020\0020';
    columns: 2;
    list-style-position: inside;
}

footer{
    background-color: var(--cor4);
    color: var(--cor0);
}
footer>p{
    text-align: center;
    font-size: 0.7em;
    padding: 5px 0px;
    margin-bottom: 0px;
}


